/*styling for the main page*/
#mainPage {
    margin-top: 20%;
}

/*adding styling to the login/register form*/
#loginForm {
    width: 60%;
    margin: 0 20% 0 20%;
}

/*create a class that will be applied to elements or content that need to be hidden*/
.hiddenClass {
    visibility: hidden;
}

/*custom styling for the results table*/
.outputTable {
	width: 90%;
	margin: 0 5% 0 5%;
}

